__pycache__
*.py[cod]
*$py.class
*.egg-info
.eggs
dist
build
.git
.github
.venv
venv
env
.env
.env.*
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
tests
*.md
!README.md
.idea
.vscode
*.local.yaml
